[submodule "advent2020-day1"]
	path = advent2020-day1
	url = git@github.com:johngillen/advent2020-day1
[submodule "advent2020-day2"]
	path = advent2020-day2
	url = git@github.com:johngillen/advent2020-day2
[submodule "advent2020-day3"]
	path = advent2020-day3
	url = git@github.com:johngillen/advent2020-day3
